body {
	font: 15/1.5 Arial, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

/* global */
.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

ul {
	margin: 0;
	padding: 0;
}

.button_1 {
	height: 35px;
	background: #e8491d;
	border: 0;
	padding: 0 20px 0 20px;
	color: white;
}

/* header */
header {
	background-color: #35424a;
	color: white;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #e8941d 3px solid;
}

header a {
	color: white;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
}

header li {
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding {
	float: left;
}

header #branding h1 {
	margin: 0;
}

header nav {
	float: right;
	margin-top; 10px;
}

header .highlight, header .current a {
	color: #e8491d;
	font-weight: bold;
}

header a:hover {
	color: #cccccc;
	font-weight: bold;
}



/* showcase */

#showcase {
	min-height: 400px;
	background: url(../img/showcase.jpg) no-repeat 0 -400px;
	text-align: center;
	color: white;
}

#showcase h1{
	margin-top: 100px;
	margin-bottom: 10px;
	font-size: 55px;
}

#showcase p {
	font-size: 25px;
}


/* newsletter */
#newsletter {
	padding: 15px;
	color: white;
	background-color: #35424a;
}

#newsletter h1 {
	float: left;
}

#newsletter form{
	float: right;
	margin-top: 15px;
}

#newsletter input[type="email"] {
	padding: 4px;
	height: 25px;
	width: 250px;
}


/*boxes */

#boxes {
	margin-top: 20px;
}

#boxes .box {
	float: left;
	width: 30%;
	text-align: center;
	padding: 10px;
}

#boxes img{
	width: 90px;
}

#main-area {
	  line-height: 1.5em;
}

/* article */
#main-col{
  float: left;
  width: 67%;
  margin-right: 20px;
}

.dark {
	background-color: #000;
	color: #fff;
	padding: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#sidebar{
	float: right;
	width: 30%;
    margin-top: 10px;
}


#services li{
	border:1px solid #ccc;
	margin-bottom: 5px;
	padding: 15px;
	background: #e6e6e6;
	line-height: 1.5em;
}

.quote {
	display: block;
}

.quote input, textarea {
	width: 90%;
	padding: 5px;
}

/*footer */

footer{
    background-color: #e8491d;
	color: white;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
}
